body {
  margin: 0;
  display: flex;
  font-family: Arial;
}

#sidebar {
  width: 280px;
  background: #222;
  color: white;
  padding: 10px;
}

.unit {
  background: #333;
  padding: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}

.unit:hover {
  background: #444;
}

canvas {
  background: #eee;
}
